---
interface Props {
	label: string;
	href: string;
	outline?: boolean;
	css?: string;
}

const { label, href, outline = false, css } = Astro.props;

const cssOutline = outline
	? 'border-black'
	: 'border-transparent';
---

<a
	class:list={[
		`max-w-max border px-4 rounded-lg font-bold py-2 transition-all ${cssOutline} ${css}`,
	]}
	href={href}
	aria-label={`${label} page`}
	title={`${label} page`}
>
	{label}
</a>